{% extends 'layout.html' %}

{% block body %}
<br><br><br>
<img src="/static/images/former.png" width="200px" height="200px">
  <h1 style="color: white;">Farmer Login</h1>
  <form action="" method="POST">
    <div class="form-group" style="width: 500px;">
      <label style="color: white;">Username</label>
      <input type="text" name="username" required class="form-control" value={{request.form.username}}>
    </div>
    <div class="form-group" style="width: 500px;">
      <label style="color: white;">Password</label>
      <input type="password" name="password" required class="form-control" value={{request.form.password}}>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
