{% extends 'layout.html' %}
{% block body %}
<br><br><br>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
</head>

<img src="/static/images/expert1-removebg-preview.png" width="150px" height="150px">

<hr><h2 style="color: white;">Uploaded Images</h2><hr>
<div class="container">
	<div class="row">
	  <div class="col">
            <div class="form-group">
			<div class="custom-file">
				{% for pic in pics %}  
                    <img src='/static/images/upload/{{pic}}' width="200" height="100" name="img"/>
                {% endfor %}    
			</div>
		  </div> 
		</form>
    </div>
	</div>
  </div>

  <div class="container">
	<div class="row">
	  <div class="col">
  
		<hr><h1 style="color: white;">Select a Uploaded image and give solution for that:</h1>
		<hr>
  
		<!-- <form action="/testing_img" method="POST" enctype="multipart/form-data"> -->
		
		<form action="/insert_img_db" method="POST" enctype="multipart/form-data">
  
		  <div class="form-group">
			<label style="color: white;">Select image</label>
			<div class="custom-file">
				<input type="file" name="file" id="profile-img" required><br><br>
				<img src="" id="profile-img-tag" width="200px" alt="Select or Drop an image" name="name"><br>
			</div>
		  </div>
		
		  <!-- <form action="/insert_img_db" method="POST" enctype="multipart/form-data"> -->
          <div class="form-group">
			<label style="color: white;">Suggestion</label>
			<div class="custom-file">
				<textarea rows="10" cols="50" name="desc" required></textarea><br><br>
			</div>
		  </div>
  
		  <!-- <a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="">Proced</a> -->
		   <button type="submit" class="btn btn-primary">Upload</button>
  
		</form>
	<!-- </form> -->
  
	  </div>
	</div>
  </div>
  <script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#profile-img-tag').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#profile-img").change(function(){
        readURL(this);
    });
</script>


{% endblock %}